/.bundle
/.DS_Store
/.env
/.idea
/.ruby-version
/.rvmrc
/.vscode
/log/*
/tmp/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/storage/*
/yarn-error.log
/config/master.key
/config/credentials/*.key
/config/database.yml

