<h1>Crie um usuário</h1>

<%= render 'form', user: @user %>
<br>
<%= button_to link_to 'Lista de usuários cadastrados', users_path %>
<br>
<%= button_to link_to 'Voltar a página inicial', home_thinkors_path %>