<h1>Crie um livro</h1>

<%= render 'form', book: @book %>
<br>
<%= button_to link_to 'Voltar a lista de livros', books_path %>
<br>
<%= button_to link_to 'Voltar a página inicial', home_thinkors_path %>