<h1>Faça um empréstimo</h1>

<%= render 'form', loan: @loan %>
<br>
<%= button_to link_to 'Voltar a lista de empréstimos', loans_path %>
<br>
<%= button_to link_to 'Voltar a página inicial', home_thinkors_path %>